<div>
  <br>
  <br>
  <br>
  <div class="container">
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of this.users">
          <td><span>{{user.id}}</span></td>
          <td><span>{{user.userName}}</span></td>
          <td><span>{{user.firstName}}</span></td>
          <td><span>{{user.lastName}}</span></td>
          <td><span>{{user.role}}</span></td>
          <button *ngIf="checkIfSeller(user)" (click)="makeAdmin(user.userName)" class='btn btn-primary' style="width: 130px; margin-left:15px">Make Admin</button>
          <button *ngIf="checkIfAdmin(user)" (click)="makeSeller(user.userName)" class='btn btn-secondary' style="width: 130px;margin-left:15px">Make Seller</button>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<mat-paginator [length]="totalPages"
[pageSize]="pageSize"
[pageSizeOptions]="[5, 10, 25, 100]"
(page)="onChangePage($event)"
>
</mat-paginator>  