<div class="container mt-5">
  <br><br><br><br>
  <form #createOfferFor="ngForm" (ngSubmit)="createOffer()" style=" margin: 5%; padding: 30px; background-color:lightcyan; margin: 3%; padding: 20px; border-radius: 5px; border: solid lightblue">
  <h4>Create offer</h4>
  <div class="form-group">
    <label for="itemName">Item name</label>
    <input name="Name" [(ngModel)]="model.Name" type="text" class="form-control" id="itemName" aria-describedby="emailHelp" placeholder="Enter item name">
    <small id="emailHelp" class="form-text text-muted">Enter item name that people will see on the offer list</small>
  </div>
  <div class="form-group">
    <label for="itemDesc">Item description</label>
    <input name="Description" [(ngModel)]="model.Description" type="text" class="form-control" id="itemDesc" placeholder="Enter item description">
  </div>
  <input name="Photo" [(ngModel)]="model.photo"
    (change)="onFileSelected($event)" #fileField type="file" class="form-control" id="itemPhoto" placeholder="Upload photo">
  
  <div class="form-group">
    <label for="Price">Item Price ($)</label>
    <input name="Price" [(ngModel)]="model.Price" type="text" class="form-control" id="Price" placeholder="Enter item price">
  </div>

  
  
  <mat-form-field appearance="fill" style = "margin-right: 10px;">
    <mat-label>Type</mat-label>
    <mat-select name="ProductTypeId" (selectionChange)="getSizes()" [(ngModel)]="model.ProductTypeId">
      <mat-option *ngFor="let type of types" [value]="type['id']">
        {{type['name']}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" style = "margin-right: 10px;">
    <mat-label>Size</mat-label>
    <mat-select  [disabled]="model.ProductTypeId == null" name="ProductSizeId" [(ngModel)]="model.ProductSizeId">
      <mat-option *ngFor="let size of sizes" [value]="size['id']">
        {{size['nameS']}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

  <br>
  <button type="button" (click)="createOffer()" class="btn btn-primary" [disabled]="this.selectedFile == null" >Submit</button>
  <button type="button" (click)="cancel()"  class="btn btn-default btn-icon" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancel</button>
</form>