<app-nav></app-nav>

<script src="https://www.paypal.com/sdk/js?client-id=AXvzCxXl7dxX2Pg2g25KxIrvwOb0RHKHcJ1UTDNE5M8RCiVa-evzmLwmfpnS5wDDUmF8dIGQqiRe1orw"></script>

<div class="container mt-5">
  <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <div *ngIf="!registerMode" style="text-align:center">
          <h1>Welcome to DropShark</h1>
          <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        </div>
  <div *ngIf="registerMode">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
  </div>
  </div>
</div>
