
<br><br><br><br>

<div class="d-flex align-items-center justify-content-between py-4 results">
  <div style="font-size: 20px;">Browse products</div>
  <hr style="width:77%;text-align:left;margin-left:10px">
  
  <!-- <div> <span>Price: </span> <select name="price" id="price">
          <option value="l2h" selected>low to high</option>
          <option value="l2h">high to low</option>
      </select> </div> -->
      
</div>

<div class="ui items row">
  <app-product-row
    *ngFor="let p of productList"
    [product]="p"
    (click)='clicked(p)'
    [class.selected]="isSelected(p)">
  </app-product-row>
</div>

<mat-paginator [length]="totalPages"
[pageSize]="pageSize"
[pageSizeOptions]="[6, 12, 25, 100]"
(page)="onChangePage($event)"
>
</mat-paginator>  