<div class="container" style="background: #61bdc5;">
  <div class="row">
  <div style="position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;">

                      <div style="border-bottom: 1px solid #48a4ac;
                      min-height: 16.4286px;
                      padding: 10px 30px;">      
                          <h4 style="margin: 0; line-height: 1.42857143;">Ready to Join? Create a New Account</h4>
                      </div>

                      <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" method="post" id="registerForm"> 
                          <div style="position: relative;
                          padding: 20px;">
                              <div class="form-group">
                                  <label for="email">Email Address</label>
                                  <input type="email" class="form-control"
                                   name="email"
                                   [(ngModel)]="model.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required name="email">
                                  
                              </div>
                              <div class="form-group">
                                  <label for="username">Username</label>
                                  <input type="text" 
                                      name="username"
                                      [(ngModel)]="model.username"
                                      class="form-control" required name="username" minlength="6">
                                  <span style="display: block;
                                  margin-top: 5px;
                                  margin-bottom: 10px;
                                  color: #737373;">Your username is also used to log in.</span>
                              </div>
                              <div class="form-group">
                                  <label for="firstName">First name</label>
                                  <input type="text" 
                                      name="firstName"
                                      [(ngModel)]="model.firstName"
                                      class="form-control" required name="firstName" minlength="6">
                              </div>
                              <div class="form-group">
                                  <label for="lastName">Last name</label>
                                  <input type="text" 
                                      name="lastName"
                                      [(ngModel)]="model.lastName"
                                      class="form-control" required name="lastName" minlength="6">
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="password">Password</label>
                                          <input type="password"
                                              name="password"
                                              [(ngModel)]="model.password"
                                              class="form-control" required id="password" name="password" minlength="8">
                                          <span style="display: block;
                                  margin-top: 5px;
                                  margin-bottom: 10px;
                                  color: #737373;">Choose a password for your new account.</span>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="confirm_password">Repeat Password</label>
                                          <input type="password" class="form-control"  required id="confirm_password" name="confirm_password" minlength="8">
                                          <span style="display: block;
                                  margin-top: 5px;
                                  margin-bottom: 10px;
                                  color: #737373;">Type the password again. Passwords must match.</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="modal-footer">
                              <input type="hidden" name="isEmpty" value="">
                              <button type ="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i> Create My Account</button>
                              <button type="button" (click)="cancel()" class="btn btn-default btn-icon" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancel</button>
                          </div>
                          
                      </form>
                  </div>
  </div>
</div>